@page
@model IndexModel
@{
    ViewData["Title"] = "Bookings";
}
<table class="table table-borderless table-dark w-auto">
    <thead class="thead-dark">
        <tr>
            <th><a asp-page="./Create" class="btn btn-primary btn-sm">Create Booking</a></th>
        </tr>
    </thead>
</table>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="w-auto">Room</th>
            <th class="w-auto">Staff</th>
            <th class="w-auto">Tier</th>
            <th class="w-auto">Start</th>
            <th class="w-auto">End</th>
            <th class="w-25 text-center">Options</th>
        </tr>
    </thead>
    @foreach (var booking in Model.Bookings)
    {
        <tr>
            <td class="w-auto">@booking.Room.Name</td>
            <td class="w-auto">@booking.Staff.Name</td>
            <td class="w-auto">€ @booking.Tier.Rate</td>
            <td class="w-auto">@booking.TimeSlot.Start.ToString("g")</td>
            <td class="w-auto">@booking.TimeSlot.End.ToString("g")</td>
            <td class="w-25 text-center">
                <a asp-page="./Edit" asp-route-id="@booking.Id" class="btn btn-primary btn-sm">Details</a>
                <form id="deleteEntry_@booking.Id" asp-controller="Bookings" asp-action="Delete" method="post" style="display: inline;">
                    <input id="bookingId" name="bookingId" asp-for="@booking.Id" type="hidden" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>

@section Scripts
{
<script type="text/javascript">

    AddEventListenerToDeleteEntries();

</script>
}
